<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoDaily</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header class="navbar">
        <div class="logo">
            🌱 EcoDaily
        </div>

        <nav>
            <a href="#">Inicio</a>
            <a href="#">Resultados</a>
            <a href="#">Recomendaciones</a>
            <a href="/login">Iniciar Sesión</a>
        </nav>
    </header>

    <section class="hero">

        <div class="hero-text">

            <h1>Conoce tu impacto ambiental</h1>

            <p>
                Registra tus hábitos diarios, analiza tu huella ambiental
                y recibe recomendaciones para adoptar un estilo de vida más sostenible.
            </p>

            <button
            onclick="window.location.href='/registro'"
            class="primary-btn"
            >
            Comenzar
            </button>

                 <button
                class="secondary-btn"
                onclick="window.location.href='/login'">
                Iniciar Sesión
            </button>

            </div>

        </div>

        <div class="hero-image">

            <div class="circle">
                🌎
            </div>

        </div>

    </section>


</body>
</html>