<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">

<title>Recomendaciones</title>

<link rel="stylesheet" href="/style.css">

<style>

.contenedor{

    max-width:900px;
    margin:auto;
    padding:40px;

}

.card{

    background:white;
    padding:30px;
    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

ul{

    margin-top:20px;

}

li{

    margin-bottom:15px;

}

</style>

</head>

<body>

<div class="layout">

    <aside class="sidebar">

        <h2>🌱 EcoDaily</h2>

        <a href="/dashboard">🏠 Inicio</a>

    <a href="/resultados">📊 Resultados</a>

    <a href="/recomendaciones">💡 Recomendaciones</a>

    <a href="/mis-registros"> 📋 Mis Registros</a>

    <hr style="margin:30px 0; border-color:rgba(255,255,255,.2)">

    <a
        href="/"
        onclick="return confirm('¿Deseas cerrar sesión?')">
        Cerrar sesión
    </a>

</aside>

    <main class="main-content">

        <div class="card">

            <h2>Recomendaciones Personalizadas</h2>

            <ul id="lista"></ul>

        </div>

    </main>

</div>

<script>

async function cargar(){

    const response =
        await fetch("/api/habitos/recomendaciones");

    const recomendaciones =
        await response.json();

    const lista =
        document.getElementById("lista");

    recomendaciones.forEach(item => {

        lista.innerHTML += `
            <li>${item}</li>
        `;

    });

}

cargar();

</script>

</body>
</html>